{% extends 'smsApp/base.html' %}
{% load crispy_forms_tags %}
{% block title %} Campaigns {% endblock %}
{% block page %} Campaigns {% endblock %}
{% block content %}

    <div class="row mb-2">
            <div class="card-body col-sm-12">
                <div class="actions">
                    <a href="{% url 'campaign-create' %}" class="btn btn-primary"><i class="fa fa-plus"></i> Send new campaign</a>
                    <!--<a href="#" class="btn btn-primary"><i class="fa fa-envelope"></i> Send single message</a>-->
                    <a href="{% url 'campaign-csv' list_name %}" class="btn btn-primary float-right"><i class="fa fa-plus"></i> Export CSV</a>

                </div>
            </div>
        </div>

    <div class="card">
        <div class="card-body col-sm-12">
            <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                <thead>
                 <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Message</th>
                    <th scope="col">List Name</th>
                    <th scope="col">Date Created</th>
                    <th scope="col">Date Scheduled</th>
                    <th scope="col">Cost</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>

                {% for campaign in campaign_list %}
                <tr class="clickable-row table-row">
                    <td>{{ campaign.title}}</td>
                    <td>{{ campaign.phone_number}}</td>
                    <td>{{ campaign.message }}</td>
                    <td>{{ campaign.list_name }}</td>
                    <td>{{ campaign.date_created }}</td>
                    <td>{{ campaign.date_scheduled}}</td>
                    <td>{{ campaign.cost}}</td>
                    <td>{{ campaign.status }}</td>
                    <td>action</td>
                </tr>
                {% endfor %}

                </tbody>
            </table>

        </div>

    </div>

{% endblock %}
{% block script %}
<script>
$(document).ready(function () {
  $('#dtBasicExample').DataTable();
  $('.dataTables_length').addClass('bs-select');
});
</script>
{% endblock %}