{% extends 'smsApp/base.html' %}
{% load crispy_forms_tags %}
{% block title %} Create Contact {% endblock %}
{% block page %} Add Contacts to {% for list in lists %} {{ list.list_name }} {% endfor %} {% endblock %}

{% block content %}


    <div class="row">

        <div class="col-sm-12">
            <div class="card mb-4" id="getSample">
                    <div class="card-body">
                        <p class="small font-weight-bold font-italic">Note: Please use the format of the below files to import contacts into the list.</p>
                        <a href="{% url 'download-sample' 'XL' %}" class="btn btn-info text-white mx-2">Download Excel Sample</a>
                        <a href="{% url 'download-sample' 'CSV' %}" class="btn btn-info text-white mx-2">Download CSV Sample</a>
                    </div>
                </div>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-group">
                    {{ form|crispy }}

                    <div id="div_id_CSV_file" class="input-group mb-3">
                            <div class="custom-file">
                                <input type="file" name="file" class="custom-file-input" id="id_CSV_file"
                                aria-describedby="inputGroupFileAddon01">
                                <label class="custom-file-label" for="id_CSV_file">Choose CSV File</label>
                            </div>
                        </div>
                </fieldset>

                <div class="form-group">
                    <button class="btn btn-info mx-1" type="submit">
                        Import Contacts
                    </button>
                    <a class="btn btn-danger mx-1" href="{% url 'contact-list' %}">
                        Cancel
                    </a>
                </div>
            </form>
        </div>
    </div>


{% endblock %}

{% block script %}
<script>
    $( document ).ready(function() {

        $choice = sessionStorage.getItem('choice');

        if ($choice == 'bulk'){
            $("#div_id_first_name").attr("hidden",true).removeClass("requiredField");
            $("#id_first_name").prop("required",false).attr("disabled",true);

            $("#div_id_last_name").attr("hidden",true).removeClass("requiredField");
            $("#id_last_name").prop("required",false).attr("disabled",true);

            $("#div_id_phone_number").attr("hidden",true).removeClass("requiredField");
            $("#id_phone_number").prop("required",false).attr("disabled",true);

            $("#div_id_additional1").attr("hidden",true).removeClass("requiredField");
            $("#id_additional1").prop("required",false).attr("disabled",true);

            $("#div_id_additional2").attr("hidden",true).removeClass("requiredField");
            $("#id_additional2").prop("required",false).attr("disabled",true);
            sessionStorage.clear()
            }
        else if ($choice == 'single'){
            $("#getSample").hide();
            $("#div_id_phone_number").attr("hidden",false).attr("required",true).addClass("requiredField");
            $("#id_phone_number").prop("required",true).attr("disabled",false);

            $("#div_id_CSV_file").attr("hidden",true).removeClass("requiredField");
            $("#id_CSV_file").attr("hidden",true);
            $("#id_CSV_file").attr("required",false);
            sessionStorage.clear()
        }
        console.log("{% for list in lists %} {{ list.id }} {% endfor %}");
        console.log("{% for list in lists %} {{ list.list_name }} {% endfor %}");
        $("#id_list_name").val({% for list in lists %} {{ list.id }} {% endfor %});
        $("#div_id_list_name").attr("hidden",true);
        $("#id_list_name").attr("hidden",true);
        $(".custom-file-input").on("change", function() {
  var fileName = $(this).val().split("\\").pop();
  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
});
    });
</script>
{% endblock %}

