{% extends 'smsApp/base.html' %}
{% load crispy_forms_tags %}
{% block title %} Contact list {% endblock %}
{% block page %} {{object.list_name}} {% endblock %}
{% block content %}
<div class="row mb-2">
            <div class="col-12">
                <div class="actions">
                    <a href="{% url 'contact-list-create' %}" class="btn btn-primary"><i class="fa fa-plus"></i> Create Contact List</a>
                    <a href="#" class="btn btn-primary" id="bulk2Add"><i class="fa fa-ban"></i> Blocked Contacts</a>
                </div>
            </div>
        </div>
<div class="container">


    <div class="row">
        <div class="col-sm-12">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th colspan="2" scope="colgroup">Phone Number</th>
                    <th colspan="2" scope="colgroup">First Name</th>
                    <th colspan="2" scope="colgroup">Last Name</th>
                    <th colspan="2" scope="colgroup">Additional1</th>
                    <th colspan="2" scope="colgroup">Additional2</th>
                    <th colspan="2" scope="colgroup">Action</th>

                </tr>
                </thead>
                <tbody>
                {% if object.contact_set.all %}
                {% for contact in object.contact_set.all %}
                <tr class="clickable-row table-row" data-href-template="#">
                    <td colspan="2" scope="colgroup">{{ contact.phone_number }}</th>
                    <td colspan="2" scope="colgroup">{{ contact.first_name }}</td>
                    <td colspan="2" scope="colgroup">{{ contact.last_name }}</td>
                    <td colspan="2" scope="colgroup">{{ contact.additional1 }}</td>
                    <td colspan="2" scope="colgroup">{{ contact.additional2 }}</td>
                    <td colspan="2" scope="colgroup"> <button class="btn" data-toggle="dropdown" type="button"><i colspan="2" class="fa fa-ellipsis-h"></i></button>
                        <ul class="dropdown-menu">
                            <li><a href="#"><i class="fa fa-trash p-2"></i>Delete</a></li>
                        </ul>
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="5" scope="colgroup" class="text-center text-muted">EMPTY</td>
                </tr>
                {% endif %}


                </tbody>
            </table>
        </div>

    </div>


</div>


{% endblock %}

{% block script %}
<script>
    $('.bulkAdd').click(function(){
        sessionStorage.setItem("choice", "bulk");
    });
    $('.singleAdd').click(function(){
        sessionStorage.setItem("choice", "single");
    });
</script>
{% endblock %}