{% extends 'smsApp/base.html' %}
{% load crispy_forms_tags %}
{% block title %} Contact list {% endblock %}
{% block page %} {{object.list_name}} {% endblock %}
{% block content %}

    <div class="row mb-2">
            <div class="card-body col-sm-12">
                <div class="actions">
                    <a href="{% url 'campaign-create' %}" class="btn btn-primary"><i class="fa fa-plus"></i> Send new campaign</a>
                    <a href="{% url 'campaign-csv-all' %}" class="btn btn-primary float-right"><i class="fa fa-plus"></i> Export CSV</a>

                </div>
            </div>
        </div>

    <div class="card">
        <div class="card-body col-sm-12">
            <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
               <thead>
                <tr>
                    <th class="col-2">Phone Number</th>
                    <th class="col-2">First Name</th>
                    <th class="col-2">Last Name</th>
                    <th class="col-2">Additional1</th>
                    <th class="col-2">Additional2</th>
                    <th class="col-2">Action</th>

                </tr>
                </thead>
                <tbody>
                {% if object.contact_set.all %}
                {% for contact in object.contact_set.all %}
                <tr class="clickable-row table-row" data-href-template="#">
                    <td >{{ contact.phone_number }}</th>
                    <td >{{ contact.first_name }}</td>
                    <td >{{ contact.last_name }}</td>
                    <td >{{ contact.additional1 }}</td>
                    <td >{{ contact.additional2 }}</td>
                    <td style="text-align:center;"> <button class="btn" data-toggle="dropdown" type="button"><i colspan="2" class="fa fa-ellipsis-h"></i></button>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'contact-delete' contact.id %}"><i class="fa fa-trash p-2"></i>Delete</a></li>
                        </ul>
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="5" scope="colgroup" class="text-center text-muted">EMPTY</td>
                </tr>
                {% endif %}

                </tbody>
            </table>

        </div>

    </div>


{% endblock %}

{% block script %}
<script>
    $(document).ready(function () {
  $('#dtBasicExample').DataTable();
  $('.dataTables_length').addClass('bs-select');
});
    $('.bulkAdd').click(function(){
        sessionStorage.setItem("choice", "bulk");
    });
    $('.singleAdd').click(function(){
        sessionStorage.setItem("choice", "single");
    });
</script>
{% endblock %}