{% extends 'smsApp/base.html' %}
{% load crispy_forms_tags %}
{% block title %} Contact list {% endblock %}
{% block page %} Contact List {% endblock %}
{% block content %}

    <div class="row mb-2">
            <div class="card-body col-sm-12">
                <div class="actions">
                    <a href="{% url 'contact-list-create' %}" class="btn btn-primary"><i class="fa fa-plus"></i> Create Contact List</a>
                </div>
            </div>
        </div>

    <div class="card">
        <div class="card-body col-sm-12">
            <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                 <thead>
                <tr>
                    <th class="th-sm">Name</th>
                    <th class="th-sm">Description</th>
                    <th class="th-sm">Size</th>
                    <th class="th-sm">Date Created</th>
                    <th class="th-sm">Action</th>


                </tr>
                </thead>
                <tbody>

                {% for list in contactlist %}
                <tr class="clickable-row table-row" data-href-template="#">
                    <td>{{ list.list_name }}</td>
                    <td >{{ list.list_description }}</td>
                    <td >{{ list.contact_set.all.count }}</td>
                    <td >{{ list.date_created }}</td>
                    <td class="dropdown"> <button class="btn" data-toggle="dropdown" type="button" aria-haspopup="true" aria-expanded="false">
                        <i colspan="2" class="fa fa-ellipsis-h"></i></button>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'contact-list-edit' list.id %}"><i class="fa fa-edit p-2"></i>Edit</a></li>
                            <li><a href="{% url 'contact-list-delete' list.id %}"><i class="fa fa-trash p-2"></i>Delete</a></li>
                            <li><a href="{% url 'contact-list-detail' list.id %}"><i class="fa fa-eye p-2"></i>View Contacts</a></li>
                            <li><a href="{% url 'contact-create' list.id %}"  class="singleAdd" ><i class="fa fa-plus p-2"></i>Add Contact</a></li>
                            <li><a href="{% url 'contact-create' list.id %}" class="bulkAdd" ><i class="fa fa-download p-2"></i>Import contact</a></li>
                        </ul>
                    </td>

                </tr>
                {% endfor %}

                </tbody>
            </table>

        </div>

    </div>


{% endblock %}

{% block script %}
<script>
$(document).ready(function () {
  $('#dtBasicExample').DataTable();
  $('.dataTables_length').addClass('bs-select');
});
    $('.bulkAdd').click(function(){
        sessionStorage.setItem("choice", "bulk");
    });
    $('.singleAdd').click(function(){
        sessionStorage.setItem("choice", "single");
    });
</script>
{% endblock %}